*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Titillium Web', sans-serif;
}

html{
    background-color: lightblue;
}


@media screen and (min-width: 300px)
{
    header{
        max-width: 100%;
    }

    h1 {
        text-align: center;
        margin: 30px 0 30px 0;
        font-size: 2em;
    }

    legend{
        font-weight: bold;
        font-size: 1.5em;
        margin-bottom: 20px;
    }

    .questionsAndScore {
        text-align: center;
    }

    .questionsAndScore li {
        display: inline;
        font-size: 1em;
    }

    .mainSection{
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 100%;
       
    }

    .mainBox {
        background-color: lightgoldenrodyellow;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        border: 1px solid black;
        border-radius: 20px;
        padding: 20px;
        margin: 10px;
    }

    .imgQuestion, .imgOutput{
        max-width: 250px;
        max-height: 200px;
        padding-bottom: 20px;
    }

    .radioContainer{
        border: none;
        text-align: left;
    }

    .radioContainer > label {
        padding: 10px;
    }

    button {
        margin-top: 10px;
        width: 100px;
        height: 50px;
    }

}

@media screen and (min-width: 400px)
{
   
    .mainBox{
        width: 400px;
    }

    .imgQuestion, .imgOutput{
        max-width: 250px;
        max-height: 200px;
        padding-bottom: 20px;
    }
}

@media screen and (min-width: 600px)
{
    .mainBox{
        width: 600px;
    }

    .imgQuestion, .imgOutput{
        max-width: 350px;
        max-height: 300px;
        padding-bottom: 20px;
    }
}